<mat-toolbar>
  <img src="assets/GreenRexPeas.png" height="80px" style="margin-left:37% ;">
  <div class="tittle" style="font-size: 40px;">REx</div>
</mat-toolbar>

<div class="content">
  <a class="github-corner" href="https://github.com/JaimePolop/REx" aria-label="View source on Github">
    <svg width="80" height="80" viewBox="0 0 250 250" style="fill:#fff; color:rgb(2, 69, 0); position: absolute; border: 0; right: 0;" aria-hidden="true">
      <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z">
      </path>
      <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path><path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body">
      </path>
    </svg>
  </a>

  <div class="logo-text">
    <img src="assets/GreenRexPeass-readme.png" height="350px" style="margin-left:4%; margin-top:2%;">
    <div class="intro-text">
      <p style="color: #fff;"> Welcome <a href="https://github.com/JaimePolop/REx" style="color: #00e100;">REx</a>, a collection of regular expressions, also known as regex, a sequence of characters that define a search pattern. They allow you to search for and manipulate text with precision and speed. </p><br>
      <p style="color: #fff;"> REx contains a wide variety of regular expressions, organized by category, to help you find the perfect expression. These regular expressions can be used in a variety of APIs or applications. </p><br>
      <p style="color: #fff;"> REx is a project created by <a href="https://github.com/JaimePolop" style="color:  #00e100;">Jaime Polop</a>, in colaboration with <a href="https://github.com/carlospolop/PEASS-ng" style="color:#00e100;">PEASS-ng</a>, where everyone can contribute with additional regular expresions. We regularly update our repository with new regular expressions and updates to existing ones, so be sure to check back often for the latest additions!! </p>
    </div>
  </div>
  <!-- <div class="tab">
  <li [value]="path" *ngFor="let path of paths">{{path}}</li>
    <div data-value="regular_expresion" *ngFor="let regular_expresion of regular_expresions" >
      <li>{{regular_expresion.name}}</li>
      <div data-value="regex" *ngFor="let regex of regular_expresion.regexes">
        <li>{{regex.name}} -- {{regex.regex}}</li>
      </div>
    </div>

  </div> -->

  <div class="div_botones">
    <div class="div_botones_tipo_regex" >
      <button id="all" class="botones_tipo_regex" (click)="setTableToAll()"> All</button>
      <button class="botones_tipo_regex" *ngFor="let regular_expresion of regular_expresions" data-value="regular_expresion" (click)="setTable(regular_expresion)">{{regular_expresion.name}}</button>
    </div>
  </div>
  <div class="example" *ngFor="let rex for selected_regular_exp8resion_regexes">
    <li>{{rex}}</li>
  </div>
  <div class="search-container">
    <div class="row search-row">
      <label style="margin-bottom:10px; color: #fff; font-size: medium;" for="searchInput">Search:</label>
      <input type="search" (keyup)="onSearchChanges()" class="form-control" [formControl]="searchFormControl" id="searchInput" aria-describedby="searchInfo" placeholder="" style="border:3px inset rgb(110, 251, 78);background-color:#eafafb;">
      <small id="searchInfo" class="form-text text-muted"></small>
    </div>
  </div>
  <div class = "div_tabla">
    <table id ="tabla" mat-table [dataSource]="selected_regular_expresion_regexes" class="mat-elevation-z8 demo-table">
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
        
      </ng-container>

      <ng-container matColumnDef="Regex">
        <th mat-header-cell *matHeaderCellDef>Regex</th>
        <td mat-cell *matCellDef="let element">{{element.regex}}</td>
      </ng-container>

      <ng-container matColumnDef="Case Sensitive">
        <th mat-header-cell *matHeaderCellDef>Case Sensitive</th>
        <td mat-cell *matCellDef="let element" >
          <div *ngIf="element.caseinsensitive==true"><img src="assets/tick.png" style="height: 30px;"></div>
          <div *ngIf="!element.caseinsensitive"></div>
        </td>
      </ng-container>

      <ng-container matColumnDef="Copy Regex">
        <th mat-header-cell *matHeaderCellDef style="width: 50px; padding-left: 15px">Copy Regex</th>
        <td mat-cell *matCellDef="let element"><img src="assets/clipboard.png" style="height: 30px; cursor: pointer;" (click)="copyRegex(element.regex)"></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns;"
      ></tr>
    </table>
  </div>
</div>